---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 8
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 130
IndentCaseLabels: false
SortIncludes: true
...
