[Unit]
Description=Another virtual private network that supports peer-to-peer connections
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/candy --no-timestamp -c /etc/candy.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
