[Unit]
Description=A reliable, low-latency, and anti-censorship virtual private network
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/candy --no-timestamp -c /etc/candy.d/%i.cfg
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
